<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style th:replace="home :: backgroud"></style>
</head>
<body>
<nav th:replace="home :: header"></nav>
<div th:replace="home :: menu"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3"></div>

        <div style="background: #e9f2ef" class="col-lg-6 shadow-lg">
            <form action="/employee/save"  method="post" th:object="${employeeDto}">
                <div class="mb-5 mt-3 text-center fst-italic">
                    <h1>Add New Employee Form</h1>
                </div>

                <div class="mb-3">
                    <label for="nameEmployee" class="form-label fw-bold fst-italic">Name Employee:</label>
                    <input th:field="*{name}" type="text" class="form-control" id="nameEmployee" aria-describedby="nameError">
                </div>

                <div class="mb-3">
                    <label for="birthDayEmployee" class="form-label fw-bold fst-italic">Birth Day:</label>
                    <input th:field="*{dateOfBirth}" type="date" class="form-control" id="birthDayEmployee" aria-describedby="dateOfBirthError">
                </div>


                <div class="mb-3">
                    <label for="idCard" class="form-label fw-bold fst-italic">Id Card:</label>
                    <input th:field="*{idCard}" type="text" class="form-control" id="idCard" aria-describedby="idCardError">
                </div>

                <div class="mb-3">
                    <label for="emailCustomer" class="form-label fw-bold fst-italic">Email:</label>
                    <input th:field="*{email}" type="email" class="form-control" id="emailCustomer" aria-describedby="emailError">
                </div>

                <div class="mb-3">
                    <label for="educationDegree" class="form-label fw-bold fst-italic">Education Degree:</label>
                    <select th:field="*{educationDegree}" id="educationDegree" class="form-select" aria-label="Default select example">
                        <option th:each="educationDegree : ${educationDegrees}"
                                th:value="${educationDegree.id}"
                                th:text="${educationDegree.name}">
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="division" class="form-label fw-bold fst-italic">Division:</label>
                    <select th:field="*{division}" id="division" class="form-select" aria-label="Default select example">
                        <option th:each="item : ${division}"
                                th:value="${item.id}"
                                th:text="${item.name}">
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="position" class="form-label fw-bold fst-italic">Position:</label>
                    <select th:field="*{position}" id="position" class="form-select" aria-label="Default select example">
                        <option th:each="position : ${position}"
                                th:value="${position.id}"
                                th:text="${position.name}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-3 w-100">Add</button>
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
<div th:replace="home :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
